@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-delay-2 {
        animation-delay: 4s;
    }
    .animation-delay-4 {
        animation-delay: 8s;
    }
    .animation-delay-6 {
        animation-delay: 12s;
    }
}
